<h1>Cities</h1>

<p>Here's a list of cities: feel free to play with it.</p>

<p *ngIf="!length"><em>Loading...</em></p>

<button mat-flat-button color="primary" class="btn-add" [routerLink]="['/city']">
  Add a new City
</button>

<p *ngIf="length">Filter by column and value</p>

<mat-form-field [hidden]="!length" class="filter-column-input">
  <mat-label>Column</mat-label>
  <mat-select #filterColumnInput [value]="filterColumn" (selectionChange)="tryFilteringByColumn(filterColumnInput.value)">
    <mat-option value="{{columns[0]}}">Id</mat-option>
    <mat-option value="{{columns[1]}}">Name</mat-option>
    <mat-option value="{{columns[2]}}">Latitude</mat-option>
    <mat-option value="{{columns[3]}}">Longitude</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field [hidden]="!length">
  <mat-label>Value</mat-label>
  <input matInput #filterValueInput (keyup)="onFilterValueChanged(filterValueInput.value)" placeholder="Enter filtering value" />
</mat-form-field>

<table mat-table
       matSort
       (matSortChange)="sortData($event)"
       [dataSource]="dataSource"
       class="mat-elevation-z8"
       [hidden]="!length">
  <ng-container matColumnDef="id">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let city">{{city.id}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let city">
      <a [routerLink]="['/city', city.id]">{{city.name}}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="lat">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Latitude</th>
    <td mat-cell *matCellDef="let city">{{city.lat}}</td>
  </ng-container>
  <ng-container matColumnDef="lon">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Longitude</th>
    <td mat-cell *matCellDef="let city">{{city.lon}}</td>
  </ng-container>
  <ng-container matColumnDef="countryName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Country Name</th>
    <td mat-cell *matCellDef="let city">
      <a [routerLink]="['/country', city.countryId]">{{city.countryName}}</a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<mat-paginator [hidden]="!length"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               showFirstLastButtons></mat-paginator>
